.add-user{
    height: 200px;
    padding: 10px;
    border: 1px solid orange;
    padding-left: 50px;
    margin-top: 50px;
}

.display-user{
    margin-top: 20px;
    height: 300px;
    padding: 10px;
    border: 1px solid orange;
    padding-left: 50px;
    overflow: scroll;

}
.add-user-input{
    width: 250px;
    height: 35px;
    display: block;
}
.add-user-btn{
    width: 250px;
    height: 35px;
    display: block;
    margin-top: 20px;
    font-weight: bold;
}
.user-item{
    background-color: skyblue;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.delete-btn{
    background-color: red;
    width: 80px;
    height: 30px;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font: bolder;
}
.remove-user-btn{
    width: 150px;
    height: 30px;
    display: block;
    margin-top: 15px;
    font-weight: bold;
    text-decoration: none;
    background-color: lightslategray;
    padding-left: 10px;
    padding-top: 5px;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}